<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>otenki-girl</title>
	</head>
	<body>
		<div class="main">
			<img src="static\image\compute.png" alt="" style="width: 1000px;">
			<div class="box">
				<form action="./index/Submit/submit" method="post">
				<p>￥3,400（含税）</p>
				<p>为下雨而困扰时，100%晴女会帮您带来好天气😄无论在什么地方...</p>
				<input type="submit" value="定制">
				希望的日期<input type="date" name="date">
				希望天晴的地址<input type="text" name="locale">
				邮箱地址（必填）<input type="email" name="email">
				想要晴天的理由（必填）<textarea rows="3"></textarea>
				</form>
			</div>
		</div>
		<div class="outer-circle">
			<div class="inner-cricle"></div>
			<span>1</span>
			<span>2</span>
			<span>3</span>
			<span>4</span>
		</div>
	</body>
</html>